/*============= RESPONSIVE =============*/

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 992px) {
    .liens {
        display: none;
    }

    #nav-burger {
        display: block;
        margin-right: -250px;
    }

    /*=======================================*/

    .conteneur-photo {
        flex-direction: column;
        align-items: center;
    }


}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 576px) {
    
}
