/*============= RESPONSIVE =============*/

@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 992px) {
    .liens {
        display: none;
    }

    #nav-burger {
        display: block;
        margin-right: -250px;
    }

    /*=======================================*/

    .conteneur-photo {
        flex-direction: column;
        align-items: center;
    }

    article {
        text-align: center;
    }

    h5 .texte-gris {
        text-align: center;
    }

    .trait-rose {
        left: 200px;
    }

}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 576px) {
    
}
